<?

# main configuration file

define("MAIN_PAGE_NAME","CMS Wiki");
define("MODIFIED_FORMAT","%Y-%m-%d %H:%M");
define("TEMPLATE","bright-template.html");
define("EDIT_PAGE_NAME","edit-niceditor");

?>
