<html>

<head>
<link rel="stylesheet" href="style.css" type="text/css">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
<title>
$title
</title>
</head>

<body>

<blockquote>
<?php $n=1; ?>
<?php while (list(,$arr) = each($pages)) { ?>
    <?=$n?>. <a href="#<?=$n?>"><?=$arr[0]?></a>
    <br />
    <?php $n ++; ?>
<?php } ?>
</blockquote>

<?php reset($pages); ?>
<?php $n=1; ?>
<?php while (list(,$arr) = each($pages)) { ?>
    <a name="<?=$n?>"></a>
    <h1><?=$n?>. <?=$arr[0]?></h1>
    <?=$arr[1]?>
    <?php $n ++; ?>
<?php } ?>


</body>

</html>
